h1 = t ".sign_up"
.row
  .form_sign_up.col-md-6.col-md-offset-3
    = form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :name
        br/
        = f.text_field :name, class: "form-control", autofocus: true, autocomplete: "name"
      .field
        = f.label :sex
        br/
        span.gender
          = f.select :sex, User.sexes.keys
      .field
        = f.label :avatar
        br/
        = f.file_field :avatar, accept: Settings.file_name, autocomplete: "avatar"
      .field
        = f.label :birthday
        br/
        = f.date_field :birthday, autocomplete: "birthday"
      .field
        = f.label :address
        br/
        = f.text_field :address, class: "form-control", autofocus: true, autocomplete: "address"
      .field
        = f.label :email
        br/
        = f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        - if @minimum_password_length
          em
            | (#{@minimum_password_length} characters minimum)
        br/
        = f.password_field :password, class: "form-control", autocomplete: "new-password"
      .field
        = f.label :password_confirmation
        br/
        = f.password_field :password_confirmation, class: "form-control",autocomplete: "new-password"
      = f.submit t(".sign_up"), class: "btn btn-info"
