header
  nav.navbar.navbar-fixed-top.navbar-inverse
    .container
      = link_to t(".e_learning"), root_path , id: "logo"
      nav
        ul.nav.navbar-nav.navbar-right.list-group.list-group-horizontal
          li.list-group-item.border-0 = link_to t(".home"), admin_static_pages_path
          li.list-group-item.border-0 = link_to t(".category"), admin_categories_path
          li.list-group-item.border-0 = link_to current_user.name, "#"
          li.list-group-item.border-0 = link_to t(".log_out"), destroy_user_session_path, method: :delete
