h1 = t ".login"
.form-login
  .row
    .col-md-6.col-md-offset-3
      = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
        .field
          = f.label :email
          br/
          = f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email"
        .field
          = f.label :password
          br/
          = f.password_field :password, autocomplete: "current-password", class: "form-control"
        - if devise_mapping.rememberable?
        .field.remember_me
            = f.check_box :remember_me
            = f.label :remember_me
        = f.submit t(".log_in"), class: "btn btn-primary"
        = link_to t(".sign_up"), new_registration_path(resource_name), class: "btn btn-info"
