.row
  .col-md-12.col-md-offset-3
    = form_for([:admin, @category]) do |f|
      = render "shared/error_messages", object: f.object

      = f.label :name
      br/
      = f.text_field :name, autofocus: true, class: "form-control", autocomplete: "name"
      br/
      = f.submit yield(:button_text), class: "btn btn-primary"
