center
  h1= t ".list_categories"
  br/
  = link_to t(".new_cat"), new_admin_category_path, class: "btn btn-primary"
  table#background_font.table.table-hover.table-secondary
    thead
      tr
        th = t ".serial"
        th = t ".category_name"
        th = t ".action_category"
    tbody
    - @categories.each_with_index do |category, index|
      tr
        td = index + Settings.pagination.category.admin * (@categories.current_page - 1) + 1
        td = category.name
        td
          = link_to t(".edit_cat"), edit_admin_category_path(category), class: "btn btn-info"
          = link_to t(".delete_cat"), admin_category_path(category), method: :delete, class: "btn btn-danger"

= paginate @categories
