footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  background-color: #d6d6d6;
  .a {
    color: #555;
    .a:hover {
      color: #222;
    }
  }
  .footer_right{
    padding-left: 135px;
  }
  .footer_mid{
    padding-left: 100px;
    padding-top: 10px;
  }
  .nav {
    padding-bottom: 5px;
    .ul {
      float: right;
      list-style: none;
      .li {
        float: left;
        margin-left: 15px;
      }
    }
  }
  .small {
    float: left;
  }
}
