#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  .center h1 {
    margin-bottom: 10px;
  }
}
.navbar {
  background-color: #d6d6d6;
  .menu_user{
    padding-top: 5px;
  }
}
