.form_sign_up {
  .new_user {
    .field {
      margin-top: 10px;
      margin-bottom: 15px;
      .gender {
        margin: 15px 10px 10px 15px;
        .gender_male {
          margin-right: 10px;
        }
        .gender_female {
          margin-right: 10px;
        }
        .gender_other {
          margin-right: 10px;
        }
      }
    }
  }
}
#new_user{
  .field.send_email_forgot_pass{
    margin-bottom: 10px;
  }
}
.form-login{
  .row{
    #new_user{
      .btn.btn-primary{
        margin-right: 10px;
      }
      .field.remember_me{
        margin-top: 10px;
        margin-bottom: 5px;
        #user_remember_me{
          margin-right: 10px;
        }
      }
    }
  }
}
