center
  h1= t ".list_categories"
  br/
  table#background_font.table.table-hover.table-secondary
    thead
      tr
        th = t ".serial"
        th = t ".category_name"
    tbody
    - @categories.each_with_index do |category, index|
      tr
        td = index + Settings.pagination.category.user * (@categories.current_page - 1) + 1
        td = category.name

= paginate @categories