footer
  nav.navbar-nav.navbar-right
    .container
      .row
        .col-xl-4
          ul.nav.navbar-nav.navbar-left.list-group.list-group-horizontal
            li.list-group-item.border-0 = link_to t(".english"), locale: :en
            li.list-group-item.border-0 = link_to t(".vietnamese"), locale: :vi
        .col-xl-4
          .footer_mid
            = t ".copyright"
        .col-xl-4
          ul.footer_right.nav.navbar-nav.navbar-left.list-group.list-group-horizontal
            li.list-group-item.border-0 = link_to t(".about_us"), "#"
            li.list-group-item.border-0 = link_to t(".contact"), "#"
