header
  nav.navbar.navbar-fixed-top.navbar-inverse
    .container
      = link_to t(".e_learning"), root_path , id: "logo"
      nav
        ul.nav.navbar-nav.navbar-right.list-group.list-group-horizontal
          li.list-group-item.border-0 = link_to t(".home"), root_path
          li.list-group-item.border-0 = link_to t(".help"), "#"
          li.list-group-item.border-0 = link_to t(".category"), categories_path
          ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            li.list-group-item.border-0 = link_to current_user.name, "#"
            li.list-group-item.border-0 = link_to t(".profile"), "#"
            - if current_user.admin? 
              li.list-group-item.border-0 = link_to t(".manage"), admin_static_pages_path
            li.divider
            li.list-group-item.border-0 = link_to t(".log_out"), destroy_user_session_path, method: :delete
          - else
            li.list-group-item.border-0 = link_to t(".log_in"), new_user_session_path
