doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title = t ".e_learning"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_pack_tag "application", "data-turbolinks-track": "reload"
    link href="/assets/favicon.ico" rel=("shortcut icon") type="image/x-icon" /
  body
    = render "layouts/header"
    .container
      - flash.each do |message_type, message|
        div class=("alert alert-#{message_type}") = message
      = yield
    = render "layouts/footer"
